# Entornos virtuales
env/
venv/

# Python
__pycache__/
*.pyc


# Cache y datos temporales
*.log
*.tmp
*.cache

# Archivos del sistema
.DS_Store
Thumbs.db

# Excluir temporales y cachés pesados de Chromium
profiles/**/BrowserMetrics/
profiles/**/Crashpad/
profiles/**/Cache/
profiles/**/Code Cache/
profiles/**/GPUPersistentCache/
profiles/**/GraphiteDawnCache/
profiles/**/GrShaderCache/
profiles/**/ShaderCache/